---
import menuItems from '@public/data/menu.json';
const showMenu = false;
---

<div>
  <div class="header_main container">
    <div class="header_branding">
      <a class="header_branding__logo" aria-label="Homepage" href="/">
        <img src="https://www.goodthingsfoundation.org/wp-content/uploads/2021/01/good-things-foundation-logo.png" alt="Branding Logo">
      </a >
    </div>
    <nav class="header-nav nav-menu">
      <ul>
        {menuItems.items.map((item) => (
          <li>
            <a href={item.url}>{item.title}</a>
          </li>
        ))}
      </ul>
    </nav>
    <button id="menuButton" class="nav-button btn btn--alt-2">Menu</button>
  </div>
  <nav id="menuContainer" class="mobile-nav nav-menu container hidden">
    <ul>
      {menuItems.items.map((item) => (
        <li>
          <a href={item.url}>{item.title}</a>
        </li>
      ))}
    </ul>
  </nav>

</div>
<script is:inline>
  const menuButton = document.getElementById('menuButton');
  menuButton?.addEventListener("click", () => {
    const menuContainer = document.getElementById('menuContainer');
    menuContainer.classList.toggle("hidden")
  })
</script>
<style lang="scss" scoped>
  .header_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ccc;
    min-height: 5.75rem;
    .header_branding {
      &__logo {
        display: block;
        height: 3rem;
        img {
          height: 100%;
          width: auto;
          margin-right: 1rem;
          object-fit: contain;
        }
      }
    }
    .header-nav {
      display: flex;
      ul {
        li {
          padding: 2rem 0.625rem;
          a {
            text-decoration: none;
          }
        }
      }
    }
    .nav-button {
      display: none;
    }
    @media (max-width: 70rem) {
      .nav-button {
        display: block;
      }
      .header-nav {
        display: none;
      }
      .mobile-nav {
        display: flex;
      }
    }
  }
  .nav-menu {
      ul {
      display: flex;
      list-style: none;
      margin-left: 0;
      margin-top: 0;
      li {
        margin-left: 0;
        margin-top: 0;
              a {
          font-size: 1.1rem;
          font-weight: 500;
          color: $dark-text;
          &:visited {
            color: $dark-text;
          }
          &:hover {
            color: $main-color;
          }
        }
      }
    }
  }
  .mobile-nav {
    display: none;
    ul {
      flex-direction: column;
      li {
        list-style: none;
        padding: 1rem 0.625rem;
      }
    }
    @media (max-width: 70rem) {
      display: flex;
      &.hidden {
        display: none;
      }
    }
  }
  </style>