---
const date = new Date();
const year = date.getFullYear();

---
<footer>
  <div class="footer container">
    Copyright {year} © 			
  </div>
</footer>
<style lang="scss">
  .footer {
    background-color: $grey-color;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
  }
</style>